{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>내 매장 상황</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/notice.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">NOONBBA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'home' %}">상품/서비스</a>
            <a class="nav-item nav-link active" href="{% url 'notice' %}">내 매장 상황</a>
            <a class="nav-item nav-link active" href="#">고객지원</a>

            {% if not user.is_authenticated %}
            <a class="nav-item nav-link active" href="{% url 'login' %}">로그인</a>
            <a class="nav-item nav-link active" href="{% url 'register' %}">회원가입</a>
            {% else %}
            <a class="nav-link" href="{% url 'logout' %}">logout</a>
            {% endif %}


          </div>
        </div>
      </nav>

      <div class="home1">
        <img src="{%static '메인1.png'%}" width="100%">
      </div>
      
      <div class="home2">    
        <img src="{%static '메인2.png'%}" width="100%">
      </div>
    
    <footer class="footer1">
        <div>
          <div class="container">
            <div class="row">
              <div class="col">
                <p align=center ></p>
                +44 345 678 903<br>
                noonsonbba@gmail.com<br>
                Find a Store
                </p>  
              </div>
              <div class="col">
                <p align=center >
                SERVICES
                <br>
                Contact Us<br>
                Ordering & Payment<br>
                FAQ<br>
                </p>
              </div>
              <div class="col">
                <p align=center >
                INFORMATION<br>
              
                About NOONSONBBA<br>
                Work With US<br>
                Privacy Policy<br>
                </p>
              </div>
            </div>
          </div>
        </div>
    </footer>
</body>
</html>