<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>내 매장 상황</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">NOONBBA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">상품/서비스</a>
            <a class="nav-item nav-link active" href="#">내 매장 상황</a>
            <a class="nav-item nav-link active" href="#">고객지원</a>
            <p>곽두팔 사장님 환영합니다.</p>
          </div>
        </div>
      </nav>
    
    
    <footer>
        <div class="footer">
            <p>Copyright &copy; Likelion, 2020</p>
        </div>
    </footer>
</body>
</html>